.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    border: 4px solid;    
}
img{
    display: block;
    margin: 0 auto;
    width: 300px;
    height: aut;
}
#mainline{
    text-align: center;
}
.ulist.reculist {
    font-weight: 200;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 15px;
    text-align: center;
}
.reccontainer {
    max-width: fit-content;
    margin: 0 auto;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255);
    border: 2px solid;
}

.steps {
    background-color: antiquewhite;
    border: 3px solid;
    margin-bottom: 20px;
    padding: 15px;
}
.header {
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
    
}